/* button {
  border: solid 2px var(--color-primary);
  padding: 10px;
  background: #da291c;
  color: white;
  border-radius: 8px;
}

button:hover{
  background: var(--color-primary);
  border: solid 2px var(--color-secondary);
} */

nav{
  background-color: var(--color-secondary);
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }
}
