<section class="listing shadow-2xl">
  <img
    class="listing-photo"
    [src]="housingLocation.photo"
    alt="Exterior photo of {{ housingLocation.name }}"
  />
  <h2 class="listing-heading mt-2">{{ housingLocation.name }}</h2>
  <p class="listing-location flex flex-row">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-geo-alt-fill me-1"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
      /></svg> {{ housingLocation.city }}, {{ housingLocation.state }}
  </p>
  <a [routerLink]="['/details', housingLocation._id]">Learn More</a>
</section>
