label{
  margin: 5px auto;
}
.card{
  background-color: var(--color-primary-light);
  color: var(--color-secondary-light);
  font-size: large;
}
button{
  background-color: var(--color-secondary);
  color: var(--color-primary-light);
}

button:hover{
  background-color: var(--color-secondary-light);
  color: var(--color-primary-light);
}

input[type=radio] {
  width: 1rem;
  height: 1rem;
  padding: 0.2rem !important;
  background-color: #f3f4f6;
  border-radius: 100%;
  appearance: none;
  outline: none;
  transition: background-color .7s, box-shadow .3s;
}
input[type=radio]:checked {
  background-color: var(--color-secondary);
  box-shadow: 0 0 0 4px rgba(239, 68, 68, 0.3);
}
